<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://cdn.ckeditor.com/4.9.1/standard/ckeditor.js"></script>
  <script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
</head>
</head>
<body>
<%- include('header') %>
<div class="container">
      <div class="row">

          <div id="signupbox" style="margin-top:50px;width: fit-content;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
              <div class="panel panel-info">
                  <div class="panel-heading">
                      <div class="panel-title"> Update Password Details</div>
                       </div>  
                  <div class="panel-body" >
                    <% if(success !=''){ %>
                        <p style="text-align: center;color: green;"><strong><%= success %></strong></p>
                        <% }%>
                      <form action="/viewPassword/edit" id="passwordform" class="form-horizontal" method="post"  role="form">
                        <input type="hidden" name="id" value="<%= record._id %>">
                        <div class="form-group">
                                  <label for="username" class="col-md-3 control-label">Password Details</label>
                                  <div class="col-md-9">
                                     <select class="form-control" name="pass_cat">
                                        <option value="">Select Password Category</option>
                                         <% if(records.length > 0){
                                        records.forEach(function(row){ %>
                                            <option value="<%= row.passwordCategory %>" <% if(row.passwordCategory==record.password_category) {%> selected <% } %>><%= row.passwordCategory %></option> 
                                      <%  })} %>
                                        </select>
                                  </div>
                              </div>

                          <div class="form-group">
                              <label for="username" class="col-md-3 control-label">Password Details</label>
                              <div class="col-md-9">
                                  <textarea class="form-control" name="pass_details" rows="6" placeholder="Enter Your Password Details"><%= record.password_details %></textarea>
                              </div>
                          </div> 
                         
                          <div class="form-group">
                              <!-- Button -->                                        
                              <div class="col-md-offset-3 col-md-9">
                              <input type="submit" name="submit" value="Update Password" class="btn btn-primary">   
                              </div>
                          </div>
                          
                          <p><a href="/view-all-password">View All Password Lists</a></p>
               
                      </form>
                   </div>
              </div>
   </div> 
      </div>
    </div>    
<%- include('footer')%>
</body>
</html>